Repository highlightjs/highlight.js, pull requests merged in 2019-12, with the labels that each got.

#2305 [pkg] Fix to be able to minify with closure compiler.
  CHANGES.md
  src/highlight.js
Labels: npm/packaging/build

#2309 (docs) More prominent list of supported languages
  README.md
  docs/css-classes-reference.rst
Labels: docs / website

#2301 (sql) Backslash should not escape in string
  CHANGES.md
  src/languages/sql.js
  test/markup/sql/string-types.expect.txt
  test/markup/sql/string-types.txt
Labels: bug, language

#2311 enh(parser): Better errors when one language requires another
  CHANGES.md
  docs/api.rst
  src/highlight.js
  src/languages/arduino.js
Labels: docs / website, enhancement, parser

#2314 chore(parser): switch from `createElementNS` to `createElement`
  CHANGES.md
  src/highlight.js
Labels: parser

#2316 New Style: Gradient Dark
  .Rhistory
  .gitignore
  AUTHORS.en.txt
  CHANGES.md
  src/styles/gradient-dark.css
Labels: enhancement, style/theme

#2319 fix: Issue with IE11 and Object.freeze()
  CHANGES.md
  src/highlight.js
Labels: bug

#2313 enh(docs) improve API docs
  docs/api.rst
  src/highlight.js
Labels: docs / website, enhancement

#2322 (javascript) fix jsx self-closing tag issues
  CHANGES.md
  src/languages/javascript.js
  test/markup/javascript/jsx.expect.txt
  test/markup/javascript/jsx.txt
Labels: bug, language

#2297 docs: update maintainers guide
  docs/maintainers-guide.rst
Labels: docs / website

#2329 Add missing keyword to vbnet.js
  CHANGES.md
  src/languages/vbnet.js
Labels: enhancement, language

#2335 enh(ini) support arrays and much cleaner grammar
  CHANGES.md
  src/languages/ini.js
  test/markup/ini/array.expect.txt
  test/markup/ini/array.txt
Labels: enhancement, language

#2333 (javascript) support jsx fragments
  CHANGES.md
  src/languages/javascript.js
  test/markup/javascript/jsx-fragment.expect.txt
  test/markup/javascript/jsx-fragment.txt
Labels: enhancement, language
