Repository highlightjs/highlight.js, pull requests merged in 2019-10, with the labels that each got.

#2154 fix(Pony): improve regex for numbers
  CHANGES.md
  src/languages/pony.js
  test/markup/pony/number-literals.expect.txt
  test/markup/pony/number-literals.txt
Labels: bug

#2150 feat(javascript): Add big number syntax (n postfix)
  src/languages/javascript.js
  src/languages/typescript.js
Labels: feature

#2168 Remove vbscript support from HTML parsing
  CHANGES.md
  src/languages/xml.js
Labels: update language

#2170 fix(YAML): improve matching for keys
  CHANGES.md
  src/languages/yaml.js
  test/markup/tap/yaml-block.expect.txt
  test/markup/yaml/keys.expect.txt
  test/markup/yaml/keys.txt
Labels: bug, feature, update language

#2167 Adding node support to readme
  README.md
Labels: site / docs

#2169 [javascript] fix attributes following comments
  CHANGES.md
  src/languages/javascript.js
  test/markup/javascript/object-attr.expect.txt
  test/markup/javascript/object-attr.txt
Labels: bug, update language

#1433 (LSL) update to SL server v16.12.03.322072
  src/languages/lsl.js
Labels: update language

#2180 do not compress relevance key
  test/browser/plain.js
  tools/utility.js
Labels: enhancement

#2175 fix(Handlebars): add support for raw-blocks and triple-mustaches
  src/languages/handlebars.js
  test/markup/handlebars/block-with-param.expect.txt
  test/markup/handlebars/block-with-param.txt
  test/markup/handlebars/block.expect.txt
  test/markup/handlebars/block.txt
  test/markup/handlebars/built-ins.expect.txt
  test/markup/handlebars/built-ins.txt
  test/markup/handlebars/comments.expect.txt
  test/markup/handlebars/comments.txt
  test/markup/handlebars/partial-call.expect.txt
  test/markup/handlebars/partial-call.txt
  test/markup/handlebars/raw-block.expect.txt
  test/markup/handlebars/raw-block.txt
  test/markup/handlebars/simple-expression.expect.txt
  test/markup/handlebars/simple-expression.txt
  test/markup/handlebars/sub-expressions.expect.txt
  test/markup/handlebars/sub-expressions.txt
  test/markup/handlebars/triple-mustache.expect.txt
  test/markup/handlebars/triple-mustache.txt
Labels: enhancement, update language

#2188 fix(Go): improve function matching
  CHANGES.md
  src/languages/go.js
  test/markup/go/functions.expect.txt
  test/markup/go/functions.txt
Labels: bug, enhancement, update language

#2185 (arduino) make arduino a super-set of cpp
  CHANGES.md
  src/highlight.js
  src/languages/arduino.js
  test/markup/arduino/default.expect.txt
  test/markup/arduino/default.txt
Labels: enhancement, update language

#2182 omit empty span tags in the output
  CHANGES.md
  src/highlight.js
  test/markup/handlebars/block-with-param.expect.txt
  test/markup/handlebars/block.expect.txt
  test/markup/handlebars/built-ins.expect.txt
  test/markup/handlebars/comments.expect.txt
  test/markup/handlebars/partial-call.expect.txt
  test/markup/handlebars/raw-block.expect.txt
  test/markup/handlebars/simple-expression.expect.txt
  test/markup/handlebars/sub-expressions.expect.txt
  test/markup/handlebars/triple-mustache.expect.txt
  test/markup/twig/filter_with_underscore.expect.txt
  test/markup/twig/template_tags.expect.txt
Labels: enhancement, parser

#2186 (typescript) fix constructor match in class declaration
  CHANGES.md
  src/languages/typescript.js
  test/markup/typescript/declares.expect.txt
  test/markup/typescript/declares.txt
Labels: bug, update language

#2195 (python) added support for literal brackets in f-strings
  AUTHORS.en.txt
  CHANGES.md
  src/languages/python.js
  test/markup/python/f-strings.expect.txt
  test/markup/python/f-strings.txt
Labels: enhancement, language

#2199 Fix TypeScript function issue
  CHANGES.md
  src/languages/typescript.js
  test/markup/typescript/functions.expect.txt
  test/markup/typescript/functions.txt
Labels: bug, language

#2202 Swift: Add dynamicMemberLookup and propertyWrapper
  CHANGES.md
  src/languages/swift.js
Labels: enhancement, language

#2197 (avrasm) update comment to english
  src/languages/avrasm.js
Labels: site / docs

#2187 (mipsasm) don't count ;$ as comment, more likely C or JS code
  src/languages/mipsasm.js
Labels: enhancement, language

#2179 blacklist common keywords
  CHANGES.md
  src/highlight.js
  src/languages/basic.js
  src/languages/coq.js
  src/languages/excel.js
  src/languages/lsl.js
  src/languages/mercury.js
  test/api/index.js
  test/api/keywords.js
Labels: enhancement, parser

#2184 (handlebars) support for segment-literals and escaped mustaches
  src/languages/handlebars.js
  test/markup/handlebars/block-expression-variants-as-path-segment.expect.txt
  test/markup/handlebars/block-expression-variants-as-path-segment.txt
  test/markup/handlebars/block-expression-variants-in-helper-name.expect.txt
  test/markup/handlebars/block-expression-variants-in-helper-name.txt
  test/markup/handlebars/block-expression-variants-in-param.expect.txt
  test/markup/handlebars/block-expression-variants-in-param.txt
  test/markup/handlebars/escaped-mustaches.expect.txt
  test/markup/handlebars/escaped-mustaches.txt
  test/markup/handlebars/expression-variants.expect.txt
  test/markup/handlebars/expression-variants.txt
Labels: enhancement, language

#2176 fix(YAML) Improve matching for blocks, numbers
  CHANGES.md
  src/languages/livescript.js
  src/languages/yaml.js
  test/detect/ldif/default.txt
  test/detect/livescript/default.txt
  test/markup/tap/yaml-block.expect.txt
  test/markup/yaml/block.expect.txt
  test/markup/yaml/block.txt
  test/markup/yaml/keys.expect.txt
  test/markup/yaml/numbers.expect.txt
  test/markup/yaml/numbers.txt
Labels: enhancement, language

#2210 npm update gear-lib to get handlebars securitiy fixes
  package-lock.json
  package.json
Labels: npm/packaging/build

#2209 (fix) endWithParent inside a starts block needs to trigger deep cloning
  CHANGES.md
  src/highlight.js
  src/languages/handlebars.js
  test/detect/index.js
  test/index.js
  test/parser/index.js
  test/parser/reuse-endsWithParent.js
Labels: bug, parser

#2204 add languages to the :common list
  src/languages/go.js
  src/languages/kotlin.js
  src/languages/less.js
  src/languages/lua.js
  src/languages/plaintext.js
  src/languages/rust.js
  src/languages/scss.js
  src/languages/swift.js
  src/languages/typescript.js
Labels: enhancement, parser

#2172 improve auto-detection of accesslog
  CHANGES.md
  src/languages/accesslog.js
  test/markup/accesslog/default.expect.txt
  test/markup/accesslog/default.txt
Labels: enhancement, language

#2218 (shell) Fix formatting when '/' is in a shell path
  CHANGES.md
  src/languages/shell.js
  test/markup/shell/plain-prompt.expect.txt
  test/markup/shell/plain-prompt.txt
  test/markup/shell/prompt-with-slash.expect.txt
  test/markup/shell/prompt-with-slash.txt
Labels: language

#2219 fix dropping characters if we choke on a bad regex
  CHANGES.md
  src/highlight.js
  test/markup/fortran/numbers.expect.txt
  test/markup/fortran/numbers.txt
  test/parser/index.js
  test/parser/should-not-destroyData.js
Labels: bug, new language, parser

#2226 switch to fs.promises vs bluebird for tests
  test/api/autoDetection.js
  test/api/binaryNumber.js
  test/api/cNumber.js
  test/api/fixmarkup.js
  test/api/getLanguage.js
  test/api/highlight.js
  test/api/ident.js
  test/api/keywords.js
  test/api/number.js
  test/api/starters.js
  test/api/underscoreIdent.js
  test/browser/plain.js
  test/browser/worker.js
  test/detect/index.js
  test/markup/index.js
  test/parser/reuse-endsWithParent.js
  test/parser/should-not-destroyData.js
  test/special/buildClassName.js
  test/special/customMarkup.js
  test/special/endsWithParentVariants.js
  test/special/explicitLanguage.js
  test/special/index.js
  test/special/languageAlias.js
  test/special/noHighlight.js
  test/special/subLanguages.js
  test/special/useBr.js
  test/tools.js
  test/utility.js
Labels: code

#2236 better error when language is not found
  CHANGES.md
  src/highlight.js
Labels: enhancement, parser

#2237 Fix regex look-ahead for end matchers
  CHANGES.md
  docs/language-guide.rst
  src/highlight.js
  test/parser/index.js
  test/parser/look-ahead-end-matchers.js
Labels: bug, parser

#2235 fix merged html attribute quoting
  CHANGES.md
  src/highlight.js
  test/browser/plain.js
Labels: bug, parser

#2242 (docs) qualify "immediately"
  docs/reference.rst
Labels: parser, site / docs

#2241 enh(css) major CSS highlighting improvements
  AUTHORS.en.txt
  CHANGES.md
  src/languages/css.js
  src/languages/scss.js
  test/fixtures/expect/explicit2.txt
  test/markup/css/sample.expect.txt
  test/markup/css/sample.txt
Labels: enhancement, language
