Repository highlightjs/highlight.js, pull requests merged in 2019-11, with the labels that each got.

#2224 enh(powershell) major overhaul, huge improvements
  AUTHORS.en.txt
  CHANGES.md
  src/languages/powershell.js
  test/markup/index.js
  test/markup/powershell/classes.expect.txt
  test/markup/powershell/classes.txt
  test/markup/powershell/misc.expect.txt
  test/markup/powershell/misc.txt
Labels: enhancement, language

#2200 fix(python) if incorrectly identified as f-string
  CHANGES.md
  src/languages/python.js
  test/markup/python/f-strings.expect.txt
  test/markup/python/f-strings.txt
Labels: bug, language

#2251 automate a common build process to check for "use strict" safe code
  .travis.yml
  CHANGES.md
  package-lock.json
  package.json
  test/builds/package.js
  test/builds/rollup_import_via_commonjs.js
Labels: bug, npm/packaging/build

#2245 enh(javascript) Add support for jsdoc comments
  CHANGES.md
  src/languages/javascript.js
  test/markup/javascript/jsdoc.expect.txt
  test/markup/javascript/jsdoc.txt
Labels: enhancement, language

#2254 enh(gml) fix naming of keyword class (consistency fix)
  CHANGES.md
  src/languages/gml.js
  src/styles/gml.css
Labels: language, style/theme

#2266 (go) Fix escaped character literals
  CHANGES.md
  src/languages/go.js
  test/markup/go/strings.expect.txt
  test/markup/go/strings.txt
Labels: bug, language, needs-changelog

#2268 (objectivec) Handle multibyte character literals
  CHANGES.md
  src/languages/objectivec.js
  test/markup/objectivec/string-literals.expect.txt
  test/markup/objectivec/string-literals.txt
Labels: bug, language, needs-changelog

#2257 enh(elixir) improve heredoc and sigil support
  src/languages/elixir.js
  test/markup/elixir/sigils.expect.txt
  test/markup/elixir/sigils.txt
  test/markup/elixir/strings.expect.txt
  test/markup/elixir/strings.txt
  test/markup/elixir/uppercase-string-sigil.expect.txt
  test/markup/elixir/uppercase-string-sigil.txt
Labels: bug, enhancement, language

#2274 (docs) clarify use of continuation
  docs/api.rst
Labels: parser

#2278 fix(makefile) fix double relevance for assignments
  CHANGES.md
  src/languages/makefile.js
Labels: auto-detection, enhancement, language

#2281 (ebnf) add underscore to productions and dot to terminators
  CHANGES.md
  src/languages/ebnf.js
  test/markup/ebnf/terminators.expect.txt
  test/markup/ebnf/terminators.txt
  test/markup/ebnf/underscore-production.expect.txt
  test/markup/ebnf/underscore-production.txt
Labels: enhancement, language

#2286 enh: add Safe Mode. Better error handling for crashes.
  CHANGES.md
  demo/demo.js
  docs/api.rst
  src/highlight.js
  tools/developer.html
Labels: enhancement, parser

#2287 (xml) expand and improve document type highlighting
  CHANGES.md
  src/languages/xml.js
  test/markup/xml/document-type-variations.expect.txt
  test/markup/xml/document-type-variations.txt
Labels: enhancement, language

#2271 fix: freeze built-in modes to prevent grammars altering them
  CHANGES.md
  src/highlight.js
  src/languages/mercury.js
Labels: bug, parser

#2294 fix(parser/docs): disallow `self` mode at the top-level of a language
  CHANGES.md
  docs/language-guide.rst
  src/highlight.js
Labels: bug, enhancement, parser

#2295 fix(kotlin): fix termination of """ string literals
  CHANGES.md
  src/languages/kotlin.js
  test/markup/kotlin/string.expect.txt
  test/markup/kotlin/string.txt
Labels: bug, enhancement, language

#2289 (cpp) Add additional keywords
  CHANGES.md
  src/languages/cpp.js
Labels: enhancement, language

#2300 fix(themes) Standardize the padding/spacing for all themes
  CHANGES.md
  src/styles/atom-one-dark-reasonable.css
  src/styles/darcula.css
  src/styles/foundation.css
  src/styles/hopscotch.css
  src/styles/isbl-editor-light.css
  src/styles/lightfair.css
  src/styles/magula.css
  src/styles/mono-blue.css
  src/styles/monokai.css
  src/styles/purebasic.css
  src/styles/shades-of-purple.css
Labels: style/theme

#2290 (ebnf) add backtick (grave symbol) as string character
  CHANGES.md
  src/languages/ebnf.js
  test/markup/ebnf/quote-symbols.expect.txt
  test/markup/ebnf/quote-symbols.txt
Labels: enhancement, language
