Repository highlightjs/highlight.js, pull requests merged in 2020-05, with the labels that each got.

#2511 (build) browser build is CommonJS and IIFE (global)
  .travis.yml
  CHANGES.md
  test/builds/browser_build_as_commonjs.js
  tools/build_config.js
Labels: package/build

#2524 fix(parser) Fix freezing issue with illegal 0 width matches
  CHANGES.md
  src/highlight.js
Labels: bug, hotfix, parser

#2519 fix(ts/js) use identifier to match potential keywords
  CHANGES.md
  docs/language-guide.rst
  docs/mode-reference.rst
  src/highlight.js
  src/languages/1c.js
  src/languages/armasm.js
  src/languages/avrasm.js
  src/languages/bash.js
  src/languages/basic.js
  src/languages/clojure.js
  src/languages/crystal.js
  src/languages/csp.js
  src/languages/d.js
  src/languages/elixir.js
  src/languages/erlang.js
  src/languages/excel.js
  src/languages/gams.js
  src/languages/gcode.js
  src/languages/hsp.js
  src/languages/hy.js
  src/languages/isbl.js
  src/languages/javascript.js
  src/languages/jboss-cli.js
  src/languages/julia.js
  src/languages/lasso.js
  src/languages/lib/ecmascript.js
  src/languages/llvm.js
  src/languages/lua.js
  src/languages/makefile.js
  src/languages/mathematica.js
  src/languages/maxima.js
  src/languages/mipsasm.js
  src/languages/nginx.js
  src/languages/objectivec.js
  src/languages/ocaml.js
  src/languages/oxygene.js
  src/languages/perl.js
  src/languages/pf.js
  src/languages/php.js
  src/languages/powershell.js
  src/languages/q.js
  src/languages/r.js
  src/languages/routeros.js
  src/languages/rust.js
  src/languages/scheme.js
  src/languages/scilab.js
  src/languages/sml.js
  src/languages/sql.js
  src/languages/stan.js
  src/languages/step21.js
  src/languages/typescript.js
  src/languages/verilog.js
  src/languages/vim.js
  src/languages/x86asm.js
  src/languages/xl.js
  src/languages/xquery.js
  src/lib/mode_compiler.js
  test/markup/typescript/identifiers_that_include_keywords.expect.txt
  test/markup/typescript/identifiers_that_include_keywords.txt
Labels: enhancement, language, parser

#2540 Add hljs.registerAlias Method
  CHANGES.md
  docs/api.rst
  src/highlight.js
  test/api/registerAlias.js
Labels: enhancement, parser

#2538 enh(cpp) add `pair`, `make_pair`, `priority_queue` as built-ins
  CHANGES.md
  src/languages/c-like.js
Labels: enhancement, language

#2549 Add Svelte to list of supported languages
  SUPPORTED_LANGUAGES.md
Labels: docs/website

#2517 Add jsdoc annotations and TypeScript type file
  .eslintrc.js
  docs/api.rst
  package-lock.json
  package.json
  src/highlight.js
  src/languages/abnf.js
  src/languages/accesslog.js
  src/languages/actionscript.js
  src/languages/ada.js
  src/languages/angelscript.js
  src/languages/apache.js
  src/languages/applescript.js
  src/languages/arcade.js
  src/languages/arduino.js
  src/languages/armasm.js
  src/languages/asciidoc.js
  src/languages/aspectj.js
  src/languages/autohotkey.js
  src/languages/autoit.js
  src/languages/avrasm.js
  src/languages/awk.js
  src/languages/axapta.js
  src/languages/bash.js
  src/languages/basic.js
  src/languages/bnf.js
  src/languages/brainfuck.js
  src/languages/c-like.js
  src/languages/c.js
  src/languages/cal.js
  src/languages/capnproto.js
  src/languages/ceylon.js
  src/languages/clean.js
  src/languages/clojure-repl.js
  src/languages/clojure.js
  src/languages/cmake.js
  src/languages/coffeescript.js
  src/languages/coq.js
  src/languages/cos.js
  src/languages/cpp.js
  src/languages/crmsh.js
  src/languages/crystal.js
  src/languages/csharp.js
  src/languages/csp.js
  src/languages/css.js
  src/languages/d.js
  src/languages/delphi.js
  src/languages/diff.js
  src/languages/dns.js
  src/lib/html_renderer.js
  src/lib/mode_compiler.js
  src/lib/modes.js
  src/lib/regex.js
  src/lib/response.js
  src/lib/token_tree.js
  src/lib/utils.js
  src/vendor/deep_freeze.js
  test/markup/index.js
  tools/build_node.js
  tsconfig.json
  types/index.d.ts
Labels: docs/website, enhancement, parser

#2344 feat(handlebars): add subexpressions, block-params and hash-parameters
  CHANGES.md
  src/languages/handlebars.js
  src/languages/htmlbars.js
  src/lib/regex.js
  test/detect/htmlbars/default.txt
  test/markup/handlebars/block-expression-variants-in-param.expect.txt
  test/markup/handlebars/block-parameters-as.expect.txt
  test/markup/handlebars/block-parameters-as.txt
  test/markup/handlebars/built-ins.expect.txt
  test/markup/handlebars/combinations-with-text.expect.txt
  test/markup/handlebars/combinations-with-text.txt
  test/markup/handlebars/comments.expect.txt
  test/markup/handlebars/else-variants.expect.txt
  test/markup/handlebars/else-variants.txt
  test/markup/handlebars/escaped-mustaches.expect.txt
  test/markup/handlebars/expression-variants.expect.txt
  test/markup/handlebars/hashes.expect.txt
  test/markup/handlebars/hashes.txt
  test/markup/handlebars/literals-in-different-places.expect.txt
  test/markup/handlebars/literals-in-different-places.txt
  test/markup/handlebars/literals.expect.txt
  test/markup/handlebars/literals.txt
  test/markup/handlebars/partial-call.expect.txt
  test/markup/handlebars/path-expressions.expect.txt
  test/markup/handlebars/path-expressions.txt
  test/markup/handlebars/raw-block.expect.txt
  test/markup/handlebars/simple-expression.expect.txt
  test/markup/handlebars/sub-expressions.expect.txt
  test/markup/handlebars/sub-expressions.txt
  test/markup/handlebars/triple-mustache.expect.txt
Labels: enhancement, language
