Repository highlightjs/highlight.js, pull requests merged in 2020-03, with the labels that each got.

#2395 (parser) plugin callbacks for `highlight`
  CHANGES.md
  docs/api.rst
  docs/plugin-api.rst
  src/highlight.js
Labels: enhancement, parser, plugin

#2443 (chore) document variants/contains:[self] behavior
  docs/reference.rst
Labels: docs/website

#2444 enh(xml) deprecate ActionScript inside script tags
  CHANGES.md
  src/languages/xml.js
Labels: enhancement, language

#2434 (bug) Fix `beginKeywords` to ignore . matches
  CHANGES.md
  docs/reference.rst
  src/highlight.js
  src/lib/mode_compiler.js
  test/api/beginKeywords.js
Labels: bug, parser

#2447 WIP: minor cleanups and chores for v10 release/beta
  .gitignore
  README.md
  VERSION_10_BREAKING_CHANGES.md
  VERSION_10_UPGRADE.md
  package-lock.json
  package.json
  src/highlight.js
  tools/build_browser.js
  tools/build_config.js
  tools/build_node.js
Labels: docs/website, package/build

#2457 (chore) Getting started tweaks
  README.md
Labels: docs/website

#2468 adds func keyword for nim
  CHANGES.md
  src/languages/nim.js
Labels: enhancement, language
