Repository highlightjs/highlight.js, pull requests merged in 2020-10, with the labels that each got.

#2720 chore(css) Fix background color of the Lightfair theme
  src/styles/lightfair.css
Labels: bug, theme

#2719 enh(build) slimmer Docker image and add .dockerignore
  .dockerignore
  Dockerfile
Labels: enhancement, package/build

#2715 enh(Python) Some Python language improvements
  CHANGES.md
  src/languages/python.js
  test/markup/python-repl/sample.expect.txt
  test/markup/python/escaped-quotes.expect.txt
  test/markup/python/escaped-quotes.txt
  test/markup/python/f-strings.expect.txt
  test/markup/python/f-strings.txt
  test/markup/python/function-header.expect.txt
  test/markup/python/function-header.txt
  test/markup/python/keywords.expect.txt
  test/markup/python/keywords.txt
Labels: enhancement, language

#2701 enh(javascript) allow leading `#` for private class fields (stop treating as illegal)
  CHANGES.md
  src/languages/javascript.js
Labels: enhancement, language

#2738 fix(c-like) preprocessor directives not detected after else
  CHANGES.md
  src/languages/c-like.js
  test/markup/cpp/preprocessor.expect.txt
  test/markup/cpp/preprocessor.txt
Labels: bug, language

#2755 Create Pull Request Template
  .github/pull_request_template.md
Labels: hacktoberfest-accepted, package/build

#2761 fix(c/cpp) line continuation in single-line comments
  AUTHORS.txt
  CHANGES.md
  src/languages/c-like.js
  test/markup/cpp/preprocessor.expect.txt
  test/markup/cpp/preprocessor.txt
Labels: hacktoberfest-accepted

#2765 fix(handlebars): support for if else keyword
  AUTHORS.txt
  CHANGES.md
  src/languages/handlebars.js
  test/markup/handlebars/if-else.expect.txt
  test/markup/handlebars/if-else.txt
Labels: bug, hacktoberfest-accepted, language

#2726 enh(latex) complete ground up rewrite of the LaTeX grammar
  CHANGES.md
  src/languages/latex.js
  test/detect/latex/default.txt
  test/markup/latex/chars.expect.txt
  test/markup/latex/chars.txt
  test/markup/latex/comments.expect.txt
  test/markup/latex/comments.txt
  test/markup/latex/control_sequences.expect.txt
  test/markup/latex/control_sequences.txt
  test/markup/latex/parameters.expect.txt
  test/markup/latex/parameters.txt
  test/markup/latex/verbatim.expect.txt
  test/markup/latex/verbatim.txt
Labels: hacktoberfest-accepted

#2763 Documentation update
  docs/api.rst
  docs/language-guide.rst
  docs/language-requests.rst
  docs/line-numbers.rst
  docs/mode-reference.rst
Labels: docs/website, hacktoberfest-accepted

#2779 add unpkg cdn instructions.
  README.md
Labels: hacktoberfest-accepted

#2781 [julia] Update keywords, built_in and literals for julia 1.X.
  AUTHORS.txt
  CHANGES.md
  src/languages/julia.js
  test/detect/julia/default.txt
Labels: hacktoberfest-accepted

#2780 enh(python) Match numeric literals per the language reference
  AUTHORS.txt
  CHANGES.md
  src/languages/python.js
  test/markup/python/numbers.expect.txt
  test/markup/python/numbers.txt
Labels: hacktoberfest-accepted

#2788 enh(ruby) Match numeric literals per language documentation
  CHANGES.md
  src/languages/ruby.js
  test/markup/ruby/numbers.expect.txt
  test/markup/ruby/numbers.txt
Labels: hacktoberfest-accepted

#2785 enh(php) highlight variables
  CHANGES.md
  src/languages/php.js
  test/markup/php/comments.expect.txt
Labels: hacktoberfest-accepted

#2790 enh(javascript) Match numeric literals per ECMA-262 spec
  CHANGES.md
  src/languages/javascript.js
  test/markup/javascript/numbers.expect.txt
  test/markup/javascript/numbers.txt
Labels: hacktoberfest-accepted

#2802 (theme) Add StackOverflow dark and light themes
  AUTHORS.txt
  CHANGES.md
  src/styles/stackoverflow-dark.css
  src/styles/stackoverflow-light.css
  tools/developer.html
Labels: hacktoberfest-accepted

#2812 enh(java) Match numeric literals per Java Language Specification
  CHANGES.md
  src/languages/java.js
  test/markup/java/numbers.expect.txt
  test/markup/java/numbers.txt
Labels: hacktoberfest-accepted
