Repository highlightjs/highlight.js, pull requests merged in 2020-02, with the labels that each got.

#2376 bug(coffeescript) fix freezing bug due to badly behaved regex
  CHANGES.md
  src/languages/coffeescript.js
  test/markup/coffeescript/freeze_bug.expect.txt
  test/markup/coffeescript/freeze_bug.txt
  test/markup/coffeescript/regex.expect.txt
  test/markup/coffeescript/regex.txt
Labels: bug, hotfix, language

#2377 enh(java) improve Java annotation support
  CHANGES.md
  src/languages/java.js
  test/markup/java/annotations.expect.txt
  test/markup/java/annotations.txt
Labels: enhancement, language

#2379 enh(fortran) support intrinsic data types & better 0 width match error detection
  CHANGES.md
  src/highlight.js
  src/languages/fortran.js
  src/languages/irpf90.js
  test/detect/index.js
  test/index.js
  test/markup/fortran/numbers.expect.txt
  test/parser/should-not-destroyData.js
Labels: bug, enhancement, language, parser

#2374 enh(parser) simplify nohighlight
  CHANGES.md
  README.md
  VERSION_10_BREAKING.md
  docs/api.rst
  src/highlight.js
  test/fixtures/index.html
  test/special/noHighlight.js
Labels: enhancement, parser

#2378 enh(csharp) generic modifiers, reference paths, `where` keyword
  CHANGES.md
  src/languages/csharp.js
  test/markup/csharp/generic_modifiers.expect.txt
  test/markup/csharp/generic_modifiers.txt
  test/markup/csharp/titles.expect.txt
  test/markup/csharp/titles.txt
Labels: enhancement, language

#2380 enh(parser) better regular expression detection
  CHANGES.md
  src/highlight.js
  test/markup/javascript/regex.expect.txt
  test/markup/javascript/regex.txt
Labels: enhancement, parser

#2381 Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: docs/website

#2382 enh(markdown) much improved markdown support
  CHANGES.md
  src/languages/dart.js
  src/languages/markdown.js
  test/markup/markdown/bold_italics.expect.txt
  test/markup/markdown/bold_italics.txt
  test/markup/markdown/code.expect.txt
  test/markup/markdown/code.txt
  test/markup/markdown/list.expect.txt
  test/markup/markdown/sections.expect.txt
  test/markup/markdown/sections.txt
Labels: bug, enhancement, language

#2387 enh(zephir) almost complete rework of the zephir grammar
  CHANGES.md
  src/languages/zephir.js
  test/markup/zephir/default.expect.txt
  test/markup/zephir/default.txt
Labels: enhancement, language

#2388 fix(protobuf) Fix `rpc` when followed by a block
  CHANGES.md
  src/languages/protobuf.js
  test/detect/protobuf/default.txt
  test/markup/protobuf/rpc.expect.txt
  test/markup/protobuf/rpc.txt
Labels: bug, language

#2213 Dockerfile for container development
  AUTHORS.txt
  CHANGES.md
  Dockerfile
  docs/building-testing.rst
Labels: enhancement

#2372 enh(php) Add additional keywords, built-in classes, and '<?=' syntax
  CHANGES.md
  src/languages/php.js
  test/detect/java/default.txt
  test/detect/zephir/default.txt
  test/markup/php/comments.expect.txt
Labels: enhancement, language

#2389 enh(apache) improve apache grammar
  CHANGES.md
  src/languages/apache.js
Labels: enhancement, language

#2402 split code into modules and simplify
  src/highlight.js
  src/languages/markdown.js
  src/lib/modes.js
  src/lib/regex.js
  src/lib/utils.js
  src/vendor/deep_freeze.js
  test/api/cNumber.js
  test/api/number.js
  test/browser/worker.js
  test/index.js
  test/markup/index.js
  test/special/buildClassName.js
  test/special/customMarkup.js
  test/special/index.js
  test/special/languageAlias.js
  test/special/noHighlight.js
  test/tools.js
  test/utility.js
  tools/build_browser.js
  tools/build_config.js
  tools/codeformat.js
  tools/utility.js
Labels: package/build, parser

#2400 (parser) language grammars have a `name` attribute now
  CHANGES.md
  src/highlight.js
  src/languages/sql.js
Labels: parser

#2403 fix(javascript) comma is allowed in a "value container"
  CHANGES.md
  src/languages/javascript.js
  test/markup/javascript/method-call.expect.txt
  test/markup/javascript/method-call.txt
Labels: bug, language

#2406 fix(elixir) Support function names with a slash
  CHANGES.md
  src/languages/elixir.js
  test/markup/elixir/function-not-regex.expect.txt
  test/markup/elixir/function-not-regex.txt
Labels: enhancement, language

#2409 (chore) pull out mode compilation into a dependency
  VERSION_10_BREAKING.md
  src/highlight.js
  src/lib/mode_compiler.js
Labels: parser

#2410 enh(armasm) support // and # style line comments
  src/languages/armasm.js
  test/markup/armasm/default.expect.txt
  test/markup/armasm/default.txt
Labels: bug, language

#2414 enh(csharp) add support for `@identifier` style identifiers
  CHANGES.md
  src/languages/csharp.js
  test/markup/csharp/identifiers.expect.txt
  test/markup/csharp/identifiers.txt
Labels: enhancement, language

#2413 enh(python) Added `python-repl` for Python REPL sessions
  CHANGES.md
  src/languages/python-repl.js
  test/detect/python-repl/default.txt
  test/markup/python-repl/sample.expect.txt
  test/markup/python-repl/sample.txt
Labels: enhancement, language

#2416 enh(fortran) Add support for FORTRAN 77 style comments
  CHANGES.md
  src/languages/fortran.js
  test/markup/fortran/comments.expect.txt
  test/markup/fortran/comments.txt
Labels: enhancement, language

#2421 Add incorrect highlighting issue template
  .github/ISSUE_TEMPLATE/incorrect-syntax-highlighting.md
Labels: docs/website

#2423 enh(powershell) Add PowerShell 5.1 default aliases as "built_in"s
  CHANGES.md
  src/languages/powershell.js
Labels: enhancement, language

#2415 (chore) Move supported languages into their own file
  README.md
  SUPPORTED_LANGUAGES.md
Labels: docs/website

#2419 enh(clojure) Adds global definitions with class name `title`
  AUTHORS.txt
  CHANGES.md
  src/languages/clojure.js
  test/markup/clojure/globals_definition.expect.txt
  test/markup/clojure/globals_definition.txt
  test/markup/clojure/hint_col.expect.txt
  test/markup/clojure/symbols-numbers.expect.txt
Labels: enhancement, language

#2417 add(php-template) Explicit language to detect PHP templates
  CHANGES.md
  VERSION_10_BREAKING.md
  src/languages/php-template.js
  src/languages/php.js
  src/languages/xml.js
  test/detect/php-template/default.txt
  test/fixtures/expect/sublanguages.txt
Labels: enhancement, language

#2427 (chore) update language contribution guidelines
  docs/language-contribution.rst
  docs/language-requests.rst
Labels: docs/website, parser

#2438 bug(clojure) Now highlights `defn-` properly
  CHANGES.md
  src/languages/clojure.js
  src/lib/mode_compiler.js
  test/markup/clojure/globals_definition.expect.txt
Labels: bug, language

#2440 fix(javascript) prevent get/set variables conflicting with keywords
  CHANGES.md
  src/languages/javascript.js
  test/markup/javascript/keyword_as_identifier.expect.txt
  test/markup/javascript/keyword_as_identifier.txt
Labels: enhancement, language
