Repository highlightjs/highlight.js, pull requests merged in 2020-01, with the labels that each got.

#2336 + support for multi-language 3rd-party packages
  test/detect/index.js
  test/markup/index.js
  tools/lib/external_language.js
  tools/lib/language.js
Labels: enhancement, packaging/build

#2343 Added Fortran block statement.
  CHANGES.md
  src/languages/fortran.js
Labels: enhancement, language

#2332 enh(cpp) Improve function declaration detection
  CHANGES.md
  src/languages/cpp.js
  test/markup/cpp/function-declarations.expect.txt
  test/markup/cpp/function-declarations.txt
Labels: enhancement, language

#2360 Added `txt` as Alias
  CHANGES.md
  src/languages/plaintext.js
Labels: enhancement, language

#2285 enh(parser) post-highlightBlock callbacks via plugin
  docs/index.rst
  docs/plugin-api.rst
  docs/plugin-recipes.rst
  src/highlight.js
  test/browser/highlight_block_callbacks.js
  test/browser/index.js
  test/browser/plain.js
  test/browser/test_case.js
  test/browser/worker.js
Labels: enhancement, parser

#2370 (delphi) highlight hexadecimal, octal, and binary numbers
  CHANGES.md
  src/languages/delphi.js
Labels: enhancement, language

#2361 (fortran) Add Fortran 2018 keywords and coarray intrinsics
  CHANGES.md
  src/languages/fortran.js
Labels: enhancement, language
