Repository highlightjs/highlight.js, pull requests merged in 2020-11, with the labels that each got.

#2807 Corrected typo in Vue plugin setting detectedLanguage
  AUTHORS.txt
  CHANGES.md
  src/plugins/vue.js
Labels: hacktoberfest-accepted

#2706 WIP: Proper highlighting for the Wolfram Language (Mathematica)
  AUTHORS.txt
  CHANGES.md
  docs/mode-reference.rst
  src/highlight.js
  src/languages/lib/mathematica.js
  src/languages/mathematica.js
  src/lib/mode_compiler.js
  src/lib/utils.js
  test/detect/mathematica/default.txt
  types/index.d.ts
Labels: enhancement, hacktoberfest-accepted, language

#2805 Align Demo and Website styling
  demo/demo.js
  demo/index.html
  demo/perfect-scrollbar.min.css
  demo/perfect-scrollbar.min.js
  demo/style.css
  tools/build_browser.js
Labels: hacktoberfest-accepted

#2792 enh(javascript) Added `node-repl` for Node.js REPL sessions
  AUTHORS.txt
  CHANGES.md
  src/languages/node-repl.js
  test/detect/node-repl/default.txt
  test/markup/node-repl/sample.expect.txt
  test/markup/node-repl/sample.txt
Labels: 0-WIP, hacktoberfest-accepted, language

#2859 enh(shell) recognize prompt that contain tilde(s)
  CHANGES.md
  src/languages/shell.js
  test/markup/shell/prompt-with-tilde.expected.txt
  test/markup/shell/prompt-with-tilde.txt
Labels: 0-WIP

#2808 (VB.Net) Date literals, Directives, Comments, test cases
  CHANGES.md
  src/languages/vbnet.js
  test/detect/vbnet/default.txt
  test/markup/vbnet/comments.expect.txt
  test/markup/vbnet/comments.txt
  test/markup/vbnet/default.expect.txt
  test/markup/vbnet/default.txt
  test/markup/vbnet/directives.expect.txt
  test/markup/vbnet/directives.txt
  test/markup/vbnet/literals.expect.txt
  test/markup/vbnet/literals.txt
  test/markup/vbnet/numbers.expect.txt
  test/markup/vbnet/numbers.txt
Labels: 0-WIP, hacktoberfest-accepted
