Repository highlightjs/highlight.js, pull requests merged in 2020-06, with the labels that each got.

#2509 (java): #2507 added support for hexadecimal floating point literals
  src/languages/java.js
  src/lib/regex.js
  test/markup/java/numbers.expect.txt
  test/markup/java/numbers.txt
Labels: enhancement, language

#2574 Update issue templates
  .github/ISSUE_TEMPLATE/language-request.md
Labels: docs/website

#2616 New Style: Gradient Light
  CHANGES.md
  src/styles/gradient-light.css
Labels: needs work
