Repository highlightjs/highlight.js, pull requests merged in 2021-03, with the labels that each got.

#3055 enh(parser) Detect comments based on english like text, rather than specific list of keywords
  CHANGES.md
  src/lib/modes.js
Labels: auto-detect, enhancement, parser

#2760 (docs) Add Contributing Guidelines
  CONTRIBUTING.md
Labels: 0-WIP, hacktoberfest-accepted

#2798 Update GitHub style
  CHANGES.md
  src/styles/github.css
Labels: autoclose, hacktoberfest-accepted
